// Colors
$main-color-light: #004972;
$main-color-regular1: #1c5a83;
$main-color-regular2: #004066;
$main-color-regular3: #003a60;
$main-color-bold: #08264a;
$main-color-light1: #d2edff;
$main-color-light2: #7bc9fd;
$main-color-light3: #0078bb;

$second-color-light: #f1b576;
$second-color-regular: #dc9b56;
$second-color-bold: #f2983a;

$white-color: #fff;
$white-color-light: #f6f6f6;
$white-color-regular1: #dedede;
$white-color-regular2: #d4d4d4;

$yellow-color: #fcf1d3;

$grey-color-light: #707070;
$grey-color: #757575;

$black-color: #000;
$black-color-light: #44433b;
$black-color-regular1: #2c2c2c;
$black-color-regular2: #131313;
$black-color-bold: #0d0d0d;

$brown-color: #723005;

$blue-color-light: #4f93f2;

$red-color: #ff0000;
$red-color-light: #ff2500;
$red-color-bold: #f10000;

$success-color: #77c044;
$error-color: #f2674f;

$facebook-color: #4167b2;
$facebook-color2: #6b96eb;

$boxShadow: #ccc;
