@mixin flex($value) {
    display: flex;
    align-items: center;
    @if ($value == "ce") {
        justify-content: center;
    } @else if($value == "sb") {
        justify-content: space-between;
    } @else if($value == "st") {
        justify-content: flex-start;
    } @else if($value == "en") {
        justify-content: flex-end;
    }
}

@mixin transform($value) {
    transform: $value;
    -ms-transform: $value;
    -webkit-transform: $value;
}

@mixin transition($value) {
    transition: $value;
    -o-transition: $value;
    -webkit-transition: $value;
}

@mixin line-clamp($number) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
}
