#cart-success-wrapper {
    margin: 100px 0;
    #account-info-wrapper {
        margin: 60px 0 0 0;
    }

    .cart-success {
        margin-top: 40px;

        @media screen and (max-width: 768px) {
            padding: 0 20px;
        }

        .cart-success-container {
            @include flex(ce);
            flex-direction: column;
            max-width: 100%;
            text-align: center;

            .title {
                color: $main-color-light;
            }

            .cart-success-image {
                margin-top: 20px;
            }

            .text-thank {
                font-size: 20px;
                font-weight: 400;
                color: $main-color-light;
                margin-top: 20px;
            }
            .text-code {
                font-size: 16px;
                font-weight: 400;
                color: $black-color;
                margin-top: 20px;
            }
            .code-number {
                background-color: $second-color-light;
                padding: 6px 40px;
                color: #fffdfb;
                font-size: 20px;
                font-weight: 400;
                margin-top: 16px;
                border-radius: 20px;
            }
            .text-box {
                margin-top: 16px;
                .text-back {
                    font-size: 16px;
                    font-weight: 400;
                    color: $black-color;
                }
                .text-link {
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: 400;
                    color: $second-color-light;
                }
            }
            .text-download {
                color: $main-color-light;
                font-size: 30px;
                font-weight: 400;
                margin-top: 40px;
            }
            .cart-success-QRCode-image {
                margin-top: 40px;
            }
        }
    }
}
