.products {
    .products-container {
        @media screen and (max-width: 768px) {
            padding: 0 20px;
        }

        .products-box {
            @include flex(ce);
            flex-direction: column;
            margin-top: 40px;

            a {
                @include flex(ce);
                img {
                    width: 80%;
                    @media screen and (max-width: 480px) {
                        width: 50%;
                    }
                }
            }

            .product-info {
                text-align: center;
                min-height: 110px;

                .product-name {
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 12px 0;
                    color: $black-color-bold;
                    @include line-clamp(2);
                }

                .product-link {
                    font-size: 16px;
                    font-weight: 400;
                    color: $black-color-bold;
                }
            }
        }
    }
}
